@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@using TeamHost.Domain.Entities
@inject SignInManager<User> manager
@inject IViewLocalizer Localizer
@{
    var returnUrl = $"{Context.Request.Path}{Context.Request.QueryString}";
}


<div class="page-header__inner">
    <div class="page-header__sidebar">
        <div class="page-header__menu-btn"><button class="menu-btn ico_menu is-active"></button></div>
        <div class="page-header__logo"><img src="~/img/logo.png" alt="logo"><span class="page-header__logo_text">TEAMHOST</span></div>
    </div>
    <div class="page-header__content">
        <div class="page-header__search">
            <div class="search">
                <div class="search__input"><i class="ico_search"></i><input type="search" name="search" placeholder="@Localizer["Search"]"></div>
                <div class="search__btn"><button type="button"><i class="ico_microphone"></i></button></div>
            </div>
        </div>
        <ul class="uk-subnav uk-nav-lang  uk-subnav-pill" uk-margin="">
            <li class="uk-first-column">
                <a href="?ui-culture=en" aria-expanded="false">
                    <img src="~/img/english.jpg" alt="profile" class="profile">
                    English
                    <span uk-icon="icon: triangle-down" class="uk-icon"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><polygon points="5 7 15 7 10 12"></polygon></svg></span>
                </a>
                <div uk-dropdown="mode: hover" class="uk-dropdown uk-dropdown-bottom-left" style="left: 50px; top: 42px;">
                    <ul class="uk-nav uk-dropdown-nav">
                        <li><a href="?ui-culture=ru"> <img src="~/img/Russia.jpg" alt="profile" class="profile">Russia</a></li>
                        <li><a href="?ui-culture=th"> <img src="~/img/Tay.jpg" alt="profile" class="profile">Thailand</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        
        <div class="page-header__action">
            <a class="action-btn" href="#!">
                <i class="ico_message"></i>
                <span></span>
            </a>
            <a class="action-btn" href="#!">
                <i class="ico_notification"></i>
                <span></span>
            </a>
            @if (manager.IsSignedIn(User))
            {
                <ul class="uk-subnav uk-subnav-pill" uk-margin="">
                    <li class="uk-first-column">
                        <a href="#" aria-expanded="false">
                            <img src="~/img/profile.png" alt="profile" class="profile">
                            @User.Identity?.Name
                            <span uk-icon="icon: triangle-down" class="uk-icon"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><polygon points="5 7 15 7 10 12"></polygon></svg></span>
                        </a>
                        <div uk-dropdown="mode: click" class="uk-dropdown uk-dropdown-bottom-right" style="left: -54.9844px; top: 42px;">
                            <ul class="uk-nav uk-dropdown-nav">
                                <li><a asp-action="Index" asp-controller="Profile" asp-area="Account">@Localizer["My acc"]</a></li>
                                <li><a href="#">@Localizer["My password"]</a></li>
                                <li class="uk-nav-divider"></li>
                                <li>
                                    <a 
                                        asp-action="Logout"
                                        asp-controller="Register"
                                        asp-area="Auth">@Localizer["Log out"]</a>
                                </li>
                            </ul>
                        </div>    
                    </li>
                </ul>
            }
            else
            {
                <a class="uk-button uk-button-danger" asp-area="auth" asp-controller="Login" asp-action="Index" >@Localizer["Login"]</a>
            }
         </div>
    </div>
</div>