@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@inject IViewLocalizer Localizer
@{
    string currentController = ViewContext.RouteData.Values["Controller"]!.ToString()!;
}


<aside class="sidebar is-show" id="sidebar">
    <div class="sidebar-box">
        <ul class="uk-nav">
            <li class="@(currentController == "Home" ? "uk-active" : "")"><a asp-controller="Home" asp-action="Index" asp-area="Home"> <i class="ico_home"></i><span>@Localizer["Home"]</span></a></li>
            <li class="uk-nav-header">@Localizer["Account"]t</li>
            <li class="@(currentController == "Profile" ? "uk-active" : "")"><a asp-controller="Profile" asp-action="Index" asp-area="Account"><i class="ico_profile"></i><span>@Localizer["Profile"]</span></a></li>
            <li class="@(currentController == "Favourite" ? "uk-active" : "")"><a asp-controller="Favourite" asp-action="Index" asp-area="Account"><i class="ico_favourites"></i><span>@Localizer["Favourites"]</span><span class="count">15</span></a></li>
            <li class="@(currentController == "Chat" ? "uk-active" : "")"><a asp-controller="Chat" asp-action="Index" asp-area="Account"><i class="ico_chats"></i><span>@Localizer["Chats"]</span></a></li>
            <li class="@(currentController == "Friends" ? "uk-active" : "")"><a asp-controller="Friends" asp-action="Index" asp-area="Account"><i class="ico_friends"></i><span>@Localizer["Friends"]</span></a></li>
            <li class="@(currentController == "Wallet"  ? "uk-active" : "")"><a asp-controller="Wallet" asp-action="Index" asp-area="Account"><i class="ico_wallet"></i><span>@Localizer["Wallet"]</span></a></li>
            <li class="uk-nav-header">@Localizer["Main"]</li>
            <li class="@(currentController == "Store"  ? "uk-active" : "")"><a asp-controller="Store" asp-action="Index" asp-area="Main"><i class="ico_store"></i><span>@Localizer["Store"]</span></a></li>
            <li class="@(currentController == "Market" ? "uk-active" : "")"><a asp-controller="Market" asp-action="Index" asp-area="Main"><i class="ico_market"></i><span>@Localizer["Market"]</span></a></li>
            <li class="@(currentController == "Streams" ? "uk-active" : "")"><a asp-controller="Streams" asp-action="Index" asp-area="Main"><i class="ico_streams"></i><span>@Localizer["Streams"]</span></a></li>
            <li class="@(currentController == "Community" ? "uk-active" : "")"><a asp-controller="Community" asp-action="Index" asp-area="Main"><i class="ico_community"></i><span>@Localizer["Community"]</span></a></li>
            <li class="uk-nav-header">@Localizer["Support"]</li>
            <li><a href="#modal-report" data-uk-toggle><i class="ico_report"></i><span>@Localizer["Report"]</span></a></li>
            <li><a href="#modal-help" data-uk-toggle><i class="ico_help"></i><span>@Localizer["Help"]</span></a></li>
            <li><a href="#modal-help" data-uk-toggle><i class="ico_help"></i><span>    @CultureInfo.CurrentCulture.Name</span></a></li>
        </ul>
    </div>
    </aside>